<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Scene Kit Session WWDC 2014</string>
	<key>Slides</key>
	<array>
		<dict>
			<key>Class</key>
			<string>AAPLSlideChapter1</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>pitch</key>
				<real>-11.25</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideIntroduction</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>-30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideAllNew</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideReferTo2013</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>transitionOffsetZ</key>
				<integer>-30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideOutline</string>
			<key>Parameters</key>
			<dict>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideSceneGraph</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideGeometry</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>18</integer>
				<key>pitch</key>
				<integer>-30</integer>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideLight</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCamera</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>transitionOffsetZ</key>
				<integer>40</integer>
				<key>pitch</key>
				<integer>-15</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideSceneGraphSummary</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.5</real>
				</array>
				<key>altitude</key>
				<integer>38</integer>
				<key>pitch</key>
				<integer>-17</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideChapter3</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideInterfaceBuilder</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>transitionOffsetZ</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideRenderers</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCreateAScene</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCreatingGeometries</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>pitch</key>
				<real>-11.25</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCreateAScene2</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideLoadingDae</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<real>6.2</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideDaeOnOSX</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>pitch</key>
				<integer>-18</integer>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideEditor</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideSampleLoadingDae</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideAssetsCollection</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>pitch</key>
				<integer>0</integer>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideRenderAScene</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>25</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideChapter4</string>
			<key>Parameters</key>
			<dict>
				<key>transitionRotation</key>
				<integer>-90</integer>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideAnimationOutline</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>7</integer>
				<key>transitionOffsetX</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideManipulation</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>7</integer>
				<key>transitionOffsetX</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideManipulation4</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>7</integer>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideImplicitAnimations</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>transitionRotation</key>
				<integer>-45</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideExplicitAnimations</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideAnimationEvents</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideActions</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>20</integer>
				<key>altitude</key>
				<integer>8</integer>
				<key>isNewIn10_10</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlidePhysics</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>altitude</key>
				<integer>15</integer>
				<key>pitch</key>
				<integer>-20</integer>
				<key>transitionOffsetZ</key>
				<integer>50</integer>
				<key>floorImageName</key>
				<string>wood.jpg</string>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideDemo1</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>0</integer>
				<key>floorImageName</key>
				<string>wood.jpg</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideConstraints</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
					<real>0.3</real>
					<real>1</real>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>transitionOffsetZ</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideIK</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>50</integer>
				<key>isNewIn10_10</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideMorphing</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideSkinning</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideJS</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
				<key>isNewIn10_10</key>
				<true/>
				<key>altitude</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideChapter5</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideMaterials</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideMaterialProperties</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.5</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideMaterialLayer</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>12</integer>
				<key>floorImageName</key>
				<string>Scenes.scnassets/frames/floor-frames.jpg</string>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideShaderModifiers</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>15</integer>
				<key>pitch</key>
				<integer>-18</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCustomProgram</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>floorReflectivity</key>
				<real>0.5</real>
				<key>pitch</key>
				<integer>0</integer>
				<key>transitionOffsetX</key>
				<integer>40</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideDelegateRendering</string>
			<key>Parameters</key>
			<dict>
				<key>pitch</key>
				<integer>45</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideSpriteKitOverlays</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideChapter6</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideParticles</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideParticleEditor</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>transitionOffsetX</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideShadows</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
					<real>0.9</real>
					<real>0.6</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>pitch</key>
				<integer>-10</integer>
				<key>altitude</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideFog</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideDOF</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>floorImageName</key>
				<string>wood</string>
				<key>pitch</key>
				<integer>-18</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCoreImage</string>
			<key>Parameters</key>
			<dict>
				<key>floorReflectivity</key>
				<integer>0</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideTechniques</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_10</key>
				<true/>
				<key>transitionOffsetX</key>
				<integer>30</integer>
				<key>altitude</key>
				<integer>6</integer>
				<key>transitionRotation</key>
				<integer>-45</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideChapter7</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideStatistics</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideFlattening</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideCloning</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
				<key>altitude</key>
				<integer>8</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideLighting</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideLOD</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideSummary</string>
			<key>Parameters</key>
			<dict>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideMoreInfo</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideLabs</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>30</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.5</real>
				</array>
				<key>transitionOffsetZ</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>AAPLSlideEnd</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>30</integer>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
